inventory-service/target/
inventory-service/.mvn/wrapper/maven-wrapper.jar
!inventory-service/src/main/**/target/
!inventory-service/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Node ###
node_modules/
npm-debug.log*

### VS Code ###
.vscode/
requerimientos.md
