.sidebar {
  width: 260px;
  height: 100dvh;
  background: var(--surface-card);
  border-right: 1px solid var(--surface-border);
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.logo {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--primary-color);
}
a.active-link {
  background: var(--primary-color);
  color: var(--primary-color-text);
}
